@{
   
    Layout = "~/Views/Shared/_Layoutangular.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>
        Admin Dashboard</h1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"  href="#Customers">Customers</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#orders">Orders</a></li>
                <li><a href="#CustomerByLocation">Customers By Location</a></li>
            </ul>
        </div>
    </nav>
    <div ng-view>
    </div>
</body>
</html>
