<!DOCTYPE HTML>
<html ng-app="library" ng-controller="PieController">
<head>
    <title>Highcharts Example</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">
        ${demo.css}
		</style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="../app.js"></script>
    <script src="/Library/app/router.js"></script>
        <script src="/Library/app/Services/CustomerService.js"></script>
    <script src="/Library/app/controllers/PieController.js"></script>

</head>
<body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
    </div>
</body>
</html>
